/*DESKTOPS*/
@media only screen and (max-width: 1200px) {

	.logo {
		margin: 3.5rem 0 0 5rem;
	}

	header .logo {
		width: 170px;
	}

	header li {
		font-size: 1.9rem;
		margin: 5rem 4rem 0 1.8rem;
	}

	.col-1-of-3 {
		float:left;
		display: inline-block;
		width:27%;
		height: 15rem;
	}

	.col-1-of-3:not(:last-of-type) {
		margin-right: 9.5%;
	}

	#about-us {
		height: 52rem;
	}

	#about-us .row {
		margin: 3rem 10% !important;
	}





}

/*SMALL DESKTOPS/BIG TABLETS*/
@media only screen and (max-width: 992px) {
	
	.logo {
		margin: 3.5rem 0 0 5rem;
	}

	header .logo {
		width: 170px;
	}

	header li {
		font-size: 1.8rem;
		margin: 5rem 3rem 0 1.6rem;
	}
	
	.card {
  	width: 60%;
  	}

	.col-1-of-3 {
		float:left;
		display: inline-block;
		width: 32%;
		height: 15rem;
	}

	.col-1-of-3:not(:last-of-type) {
		margin-right: 2%;
	}

	#about-us {
		height: 46rem;
	}

	#about-us .row {
		margin: 3rem 10% !important;
	}


	.col-1-of-2 {
		float:none;
		display: inline-block;
		width: 90%;
		margin-left: 5%;
	}

	.picture-container {
		display: none;
	}

}

/*SMALL TABLETS*/
@media only screen and (max-width: 768px) {

	.logo {
		margin: 3.5rem 0 0 5rem;
	}

	header .logo {
		width: 150px;
	}

	header li {
		font-size: 1.7rem;
		margin: 5rem 2rem 0 1.4rem;
	}

	.card {
  	width: 70%;
  	}

	.row {
	width: 90%; 
	}

	.card-heading {
		font-size: 2rem;
		right: 1rem;
	}

	.card-details li {
		font-size: 1.5rem;
	}

	#about-us {
		height: 50rem;
	}

	#about-us .row {
		margin: 3rem 5% !important;
	}


	.col-1-of-2 {
		float:none;
		display: inline-block;
		width: 90%;
		margin-left: 5%;
	}

	.picture-container {
		display: none;
	}

}

/*MOBILE PHONES*/
@media only screen and (max-width: 576px) {

	.logo {
		margin: 3.5rem 0 0 5rem;
	}

	header .logo {
		width: 130px;
	}

	header li {
		font-size: 1.5rem;
		margin: 5rem 1rem 0 1rem;
	}

	.card {
  		width: 80%;
  	}

	.row {
	width: 95%;
	}

	.card-heading {
		padding: 1rem 1rem;
		font-size: 1.8rem;
		right: 0.2rem;
	}

	.card-details li {
		font-size: 1.5rem;
		padding: .7rem 1rem;
	}

	.card-price-value {
		font-size: 5rem;
	}

	.btn-card {
		font-size: 1.2rem;
	} 

	#about-us {
		height: 54rem;
	}

	#about-us .row {
		margin: 3rem 2.5% !important;
	}

	.col-1-of-2 {
		float:none;
		display: inline-block;
		width: 90%;
		margin-left: 5%;
	}

	.picture-container {
		display: none;
	}
}